<?xml version="1.0"?>
<launch>
    <!-- Flags to select GUI, frame of reference, vehicle and world-->
    <arg name="gui"            default="true"/>
    <arg name="use_sim_time"   default="false"/>
    <arg name="world_frame"    default="world"/>

    <!-- Choose the world to launch (default is expo_lisbon)-->
    <arg name="world"  default="expo_lisbon_deep_cilindro_net"/>

    <!-- Select the gazebo world -->
    <include file="$(find thesis_worlds)/launch/$(arg world).launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

    <!-- image_view for sonar image -->
  <!-- <node name="image_view_sonar" pkg="image_view" type="image_view"
        args="image:=/blueview_p900/sonar_image">
    <param name="window_name" value="blueview_p900" />
    <param name="autosize" value="true" />
    <param name="filename_format" value="/tmp/SonarImage_capture_%04i.jpg" />
  </node> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="multibeam_sonar_base_link" args="0 0 0 0 0 0 map forward_sonar_optical_link 50" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="multibeam_sonar_base_link" args="0 0 0 0 0 0 world forward_sonar_optical_link 50" /> -->
  
</launch>
