<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
    Some examples of sensors that can be added to the vehicle frame.
    Set the origin of the sensor frames correctly for your application
    Look into the sensor macros in the package uuv_sensor_ros_plugins/urdf for
    more examples or add you own custom sensor units.
  -->

  <!-- Mount a Pose 3D sensor. -->
  <xacro:default_pose_3d namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- IMU -->
  <xacro:default_imu_macro 
    namespace="${namespace}" 
    parent_link="${namespace}/base_link" 
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_imu_macro>

  <!--Pressure  -->
  <xacro:default_pressure namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_pressure>

  <!-- Mount a GPS. -->
  <xacro:default_gps namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- DVL  -->
  <xacro:default_dvl_bluerov_macro 
    namespace="${namespace}" 
    parent_link="${namespace}/base_link" 
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0.05 0.07 -0.20" rpy="0 ${0.5*pi} 0"/>
  </xacro:default_dvl_bluerov_macro>

  <!-- Altimeter sensor -->
  <xacro:bluerov_altimeter namespace="${namespace}" parent_link="$(arg namespace)/base_link" suffix="">
    <origin xyz="0.05 -0.07 -0.17" rpy="0 ${0.5*pi} 0"/>
  </xacro:bluerov_altimeter>

  <!-- UDP camera -->
  <!-- <xacro:udp_camera_sensor_macro namespace="${namespace}" parent_link="$(arg namespace)/base_link" suffix="" 
    gst_udp_host="127.0.0.1" gst_udp_port="5600" width="640" height="360" hfov="2.0" update_rate="10" stddev="0.0" >
    <origin xyz="0.25 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:udp_camera_sensor_macro> -->

  <!-- Mount a camera  -->
  <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="">
    <origin xyz="0.25 0 0" rpy="0 0 0" mass="0"/>
  </xacro:default_camera>


  
  <!-- <xacro:multibeam_blueview_p900_macro
               params="name scale sonar_image_topic debug gpu_ray robot_name
               sonar_image_raw_topic maxDistance raySkips plotScaler sensorGain writeLog
               writeFrameInterval gaussian_noise_mean gaussian_noise_stddev fidelity
               artificialVehicleVibration constantReflectivity reflectivityDatabaseFile
               robot_link ray_visual *origin"> -->
  <xacro:multibeam_blueview_p900_macro name="multibeam" scale="0.5 0.5 0.5" gpu_ray="false" robot_name="bluerov_heavy"
              sonar_image_topic="sonar_image_topic" sonar_image_raw_topic="sonar_image_raw_topic" debug="true" 
              maxDistance="15" raySkips="10" plotScaler="1" sensorGain="0.02" writeLog="true" writeFrameInterval="5" 
              artificialVehicleVibration="false" constantReflectivity="true" fidelity="500"
              reflectivityDatabaseFile="multibeam_sonar/nps_uw_multibeam_sonar/worlds/variationalReflectivityDatabase.csv"
              robot_link="${namespace}/base_link" ray_visual="true" gaussian_noise_mean="0.0" gaussian_noise_stddev="0.02">
    <origin xyz="0.25 0 -0.25" rpy="0 0.174532925 0"/>
  </xacro:multibeam_blueview_p900_macro>
  

</robot>